/* Estilos generales del cuerpo del sitio */
body {
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #bab8b8;
    background-color: rgba(159, 162, 206, 0.8);
    font-family: Tahoma, sans-serif; 
  }
  
  /* Estilos del contenedor principal */
  div {
    width: 90%; 
    max-width: 800px; 
    background: rgba(5, 9, 63, 0.6);
    margin: 2% auto;
    padding: 20px;
    margin-bottom: 175px;
    border-radius: 5px;
  }

  .editar-producto{
    display: none;
  }

  /* Estilos del encabezado */
  h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 0;
    color: white; 
  }
  
  /* Estilos del subtítulo */
  h2 {
    text-align: center;
    color: white; 
  }
  
  /* Estilos del párrafo */
  p {
    font-style: italic;
    text-align: center;
    color: white; 
  }
  
  /* Estilos de la tabla de productos */
  .tabla-productos {
    display: grid;
    text-align: center;
    margin: 20px 0; 
    padding: 10px;
  }

  /* Estilos de los campos de entrada de texto y número */
  input[type="text"], input[type="number"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    min-height: 1.5rem;
    font-family: cursive;
    background: rgba(4, 7, 53, 0.8);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px; 
  }
  
  /* Estilos del botón de envío de productos */
  #submit-productos {
    display: block;
    margin: auto;
  }

  .a{
    text-align: center;
  }
  
  /* Estilos del botón */
  button {
    width: 100%; 
    max-width: 200px;
    background: green;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0; 
    cursor: pointer; 
  }

  input:hover{
    box-shadow: 0 0 20px;
  }
  
  button:hover{
    border: 1px solid white;
  }

  footer {
    position: fixed;
    bottom: 0; 
    background-color: rgba(4, 7, 53, 0.8);
    width: 100%;
    height: 120px;
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  a{
    color: rgb(27, 97, 211);
  }

  a:hover{
    color: blueviolet;
  }